<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') -%>

  <body>
    <script>
      async function getDeviceCount(e) {
        console.log(e.value);

        const select = document.getElementById("available_slots");

        try {
          const response = await fetch("http://localhost:4040/userdate", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ date: e.value }),
          });

          let jsonData = await response.json();
          console.log(jsonData.time + "dfcdlaszfhahio");
          if (jsonData.time) {
            const select = document.getElementById("available_slots");
            select.innerHTML = 0;
            jsonData.time.forEach((value) => {
              const option = document.createElement("option");
              option.innerHTML = value;
              select.appendChild(option);
            });
          } else {
            const select = document.getElementById("available_slots");
            option.innerHTML = 0;
            select.appendChild(option);
          }
        } catch (error) {
          console.log(error);
          const select = document.getElementById("available_slots");
          select.innerHTML = "";
          const option = document.createElement("option");
          option.innerHTML = "";
          select.appendChild(option);
        }
      }
    </script>

    <%- include('layouts/navigation.ejs') -%>

    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-1">
          <h3>Book DriveTest</h3>
          <form action="/g2_page/store" method="POST">
            <div class="form-group">
              <input
                type="text"
                id="f_Name"
                name="f_Name"
                class="form-control"
                placeholder="First Name *"
                value="<%=data.f_Name%>"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="l_Name"
                name="l_Name"
                placeholder="Last Name *"
                value="<%=data.l_Name%>"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="license_no"
                name="license_no"
                minlength="8"
                placeholder="License Number *"
                value="<%=data.license_no%>"
                required
              />
            </div>

            <div class="form-group">
              <input
                id="age"
                name="age"
                min="16"
                max="150"
                class="form-control"
                placeholder="age *"
                value="<%=data.age%>"
                required
              />
            </div>

            <br />
            <div class="form-group">
              <p>Date of Birth(DOB)</p>
            </div>
            <div class="form-group">
              <input
                type="date"
                id="date_of_birth"
                name="date_of_birth"
                class="form-control"
                value="<%=data.date_of_birth%>"
                required
              />
            </div>
            <br />
            <h5>Car details</h5>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Make  *"
                id="description"
                name="description"
                value="<%=data.description%>"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="model *"
                value="<%=data.model_type%>"
                name="model_type"
                id="model_type"
                required
              />
            </div>

            <div class="form-group">
              <input
                class="form-control"
                placeholder="year *"
                value="<%=data.year%>"
                min="1800"
                max="2100"
                id="year"
                name="year"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="plat number *"
                value="<%=data.plat_number%>"
                name="plat_number"
                id="plat_number"
                required
              />
            </div>

            <br />
            <br />
            <br />
           
            <h3>Available Appointment date and time</h3>
            <br />
            <input
              type="date"
              id="available_date"
              name="available_date"
              class="form-control"
              value=""
              onchange="getDeviceCount(this) || null"
              required
            />
            <br />
            <select
              name="available_slots"
              id="available_slots"
              class="form-control"
              required
            ></select>

            <br />
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
